<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVVM+Reactive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>RACCommand.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RACSingal.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Reactive_loginView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>basic_use(delegate,notification..).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>bind.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>concat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>exerciseONe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>target "basic_use" do 基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>user_delegate_kvo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>常见集合类.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>组合.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>连接类.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C009C8221CF91E75008139CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C009C83A1CF91E75008139CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C009C8451CF91E75008139CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C009C8591CF937BD008139CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C009C8711CF937BD008139CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C009C87C1CF937BD008139CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0681C3C1CFABF8A0006CFAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0681C541CFABF8A0006CFAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0681C5F1CFABF8A0006CFAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0B504931CF889E800BB9DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0B504AB1CF889E800BB9DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0B504B61CF889E800BB9DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0B504DD1CF88D6400BB9DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0B504F51CF88D6400BB9DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0B505001CF88D6500BB9DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0B505141CF88D9400BB9DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0B5052C1CF88D9400BB9DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0B505371CF88D9400BB9DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0B5054B1CF891E800BB9DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0B505631CF891E900BB9DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0B5056E1CF891E900BB9DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0EC10391CF93C6800524446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0EC10511CF93C6900524446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0EC105C1CF93C6900524446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0EC10701CF98ED300524446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0EC10881CF98ED300524446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0EC10931CF98ED300524446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0EC10AA1CF9F12A00524446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0EC10C21CF9F12A00524446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0EC10CD1CF9F12A00524446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F3160F1CF6CD7D00481B69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F316281CF6CD7E00481B69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F316331CF6CD7E00481B69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F3164C1CF7ABFF00481B69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F316641CF7ABFF00481B69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F3166F1CF7ABFF00481B69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F316881CF7BB9700481B69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F316A01CF7BB9800481B69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F316AB1CF7BB9800481B69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F316BF1CF7CED500481B69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F316D71CF7CED500481B69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F316E21CF7CED500481B69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
